 <mat-toolbar color="primary">
      <span class="logo" (click)="goHome()">EmployeeManager</span>
      <span class="spacer"></span>
      <ng-container *ngIf="auth.isLoggedIn(); else loggedOut">
        <button mat-icon-button aria-label="home" (click)="goHome()">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loggedOut>
        <button mat-button (click)="goTo('login')">Login</button>
        <button mat-button (click)="goTo('signup')">Sign up</button>
      </ng-template>
    </mat-toolbar>