/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* src/styles.scss */
// @import "~@angular/material/prebuilt-themes/indigo-pink.scss";
// @use '~@angular/material' as mat;
body { margin: 0; font-family: Roboto, "Helvetica Neue", Arial; }
@media (max-width: 600px) {
  mat-card.auth-card { margin: 8px; }
}